* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* side nav */

.side-nav {
  width: 200px;
  height: calc(100vh - 80px);
  overflow: hidden;
  background-color: black;
}

.side-nav img {
  width: 170px;
  margin-left: 15px;
  margin-top: 15px;
}

/* content */

.content {
 height: calc(100vh - 80px);
 width: calc(100% - 200px);
 position: absolute;
 left: 200px;
 top: 0px;
 background-color: #141922;
 overflow: scroll;
 padding-top: 100px;
}

/* top bar */

.top-bar {
  width: calc(100vw - 200px);
  height: 80px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: .5;
}

/* player */

.player {
  width: 100vw;
  height: 80px;
  position: absolute;
  bottom: 0;
  background-color: #282828;
}
