* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

* a {
  text-decoration: none;
  color: #a3a3a3;
}

main {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 20px;
}

/* classi helper */

.white {
  color: white;
}

/* side nav */

.side-nav {
  width: 200px;
  height: calc(100% - 80px);
  overflow: hidden;
  background-color: black;
  color: #a3a3a3;
}

.sidenav-up {
  min-height: 280px;
  width: 100%;
  height: calc(100% - 90px);
}

.logo {
  height: 80px;
}

.side-nav .logo img {
  width: 130px;
  margin-left: 15px;
  margin-top: 15px;
}

.top-side-nav {
  height: 100px;
}

.top-side-nav li {
  list-style: none;
  height: 30px;
  line-height: 30px;
}

.top-side-nav ul li:hover {
  border-left: 4px solid #adff2f;
}

.top-side-nav ul li a {
  height: 30px;
  display: inline-block;
  position: relative;
}

.top-side-nav ul img {
  height: 20px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translate(0, -50%);
}

.top-side-nav ul span {
  margin-left: 45px;
  font-size: 12px;
}

.bottom-side-nav {
  height: 100px;
  width: 100%;
}

.bottom-side-nav h4 {
  padding-left: 15px;
  font-size: 15px;
  color: white;
}

.playlist {
  padding: 15px 0px 15px 15px;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.playlist i {
  margin-right: 10px;
}

.playlist-items {
  overflow-y: auto;
  height: calc(100% - 280px);
}

.side-nav .playlist-items ul li {
  list-style: none;
  padding: 10px 0px 10px 15px;
  font-size: 10px;
}

.sidenav-down {
  height: 90px;
  width: 100%;
  background-color: black;
  padding: 5px 15px 5px 15px;
  font-size: 12px;
}

.install-app {
  display: flex;
  align-items: center;
  height: 35px;
  width: 100%;
  border-bottom: 1px solid grey;
}

.install-app span {
  margin-left: 10px;
  color: white;
}

.user {
  display: flex;
  align-items: center;
  height: 45px;
  width: 100%;
  line-height: 45px;
}

.profile-img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #808080;
  background-image: url("../img/profile.svg");
  background-position: center;
  margin-right: 10px;
}

/* content */


.content {
 height: calc(100vh - 80px);
 width: calc(100% - 200px);
 position: absolute;
 left: 200px;
 top: 0px;
 background-color: #141922;
 overflow: auto;
}

.top-bar {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  width: calc(100vw - 200px);
  height: 80px;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  padding-right: 30px;
}

.top-bar button {
  height: 40px;
  width: 180px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: 1px solid white;
  border-radius: 50px;
  transition: all .2s;
}

.top-bar button:hover {
  height: 50px;
  width: 200px;
}

.content .content-nav {
  padding-top: 100px;
  display: flex;
  justify-content: center;
}

.content .content-nav ul li {
  display: inline-block;
  color: #7d7f84;
  font-size: 12px;
}

.content .content-nav ul li .green-bar {
  height: 2px;
  width: 30px;
  background-color: #adff2f;
  margin: auto;
}

.content .content-nav ul li:not(:last-child) {
  margin-right: 10px;
}

.content-main {
  padding: 20px;
}

.content-main h2 {
  margin-top: 40px;
  color: white;
}

.content-main p {
  font-size: 12px;
  color: #a3a3a3;
  margin-top: 10px;
}


.play_hover {
  color: white;
  position: absolute;
  left: 85px;
  top: 85px;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.2s;
}

.recent-played {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 30px;
}

.recent-item {
  margin: 0px 10px;
  width: 170px;
  position: relative;
}

.recent-item img {
  width: 100%;
  display: block;
  transition: 0.2s;
}

.recent-item h4 {
  text-align: center;
  margin-top: 10px;
  font-size: 15px;
  color: white;
}

.recent-item p {
  text-align: center;
  margin-top: 5px;
  font-size: 12px;
  color: #a3a3a3;
}

.recent-item:hover .play_hover {
  opacity: 1;
}

.recent-item:hover  img {
  opacity: 0.5;
}


.created-for {
  display: flex;
  width: 100%;
  margin-top: 30px;
}

.createdfor-item {
  margin: 0px 10px;
  width: 170px;
  position: relative;
}

.createdfor-item img {
  width: 100%;
  display: block;
  transition: 0.2s;
}

.createdfor-item h4 {
  text-align: center;
  margin-top: 10px;
  font-size: 15px;
  color: white;
}

.createdfor-item:hover .play_hover {
  opacity: 1;
}

.createdfor-item:hover  img {
  opacity: 0.5;
}


.popular {
  display: flex;
  width: 100%;
  margin-top: 30px;
}

.popular-item {
  margin: 0px 10px;
  width: 170px;
  position: relative;
}

.popular-item img {
  display: block;
  width: 100%;
  border-radius: 50%;
  transition: 0.2s;
}

.popular-item h4 {
  text-align: center;
  margin-top: 10px;
  font-size: 15px;
  color: white;
}

.popular-item:hover .play_hover {
  opacity: 1;
}

.popular-item:hover  img {
  opacity: 0.5;
}

/* player */

.player {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 80px;
  position: absolute;
  bottom: 0;
  background-color: #282828;
}

.left-player {
  display: flex;
  align-items: center;
  width: 230px;
  color: #5a5a5a;
}

.left-player img {
  height: 50px;
  margin: 0px 10px 0px 10px;
}

.track_artist {
  margin-right: 20px;
}

.track_artist h5 {
  font-size: 10px;
  color: white;
}

.track_artist p {
  font-size: 10px;
}

.left-player i {
  margin-left: 10px;
}

.middle-player {
  width: 450px;
}

.midplayer-top {
  height: 60%;
}

.midplayer-top, .midplayer-bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.midplayer-top i {
  margin: 0px 15px;
  color: white;
}

.midplayer-bottom .play_bar {
  width: 70%;
  height: 4px;
  border-radius: 4px;
  background-color: #5a5a5a;
  margin: 0px 10px;
}

.midplayer-bottom span {
  color: white;
  font-size: 12px;
}

.right-player {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 230px;
  color: white;
}

.volume_bar {
  width: 120px;
  height: 4px;
  border-radius: 4px;
  background-color: #5a5a5a;
}
